*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #FFDEE9;
    background-image: linear-gradient(281deg, #FFDEE9 5%, #B5FFFC 100%);

    text-align: center;
    padding: 20px;
}
#board{
    width: 400px;
    height: 400px;
    border: 2px solid blue;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    img{
        width: 79px;
        height: 79px;
        border: 0.5px solid lightblue;
    }
}
#pieces{
    width: 400px;
    height: 400px;
    border: 2px solid rgb(3, 3, 118);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;


    img{
        width: 79px;
        height: 79px;
        border: 0.5px solid rgb(173, 189, 195);
    }
}